body {
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

.containerr {
  /* width: 90%; */
  margin: auto;
}

.container2 {
  width: 90%;
  margin: auto;
}

/* ==================================================================== New NAVBAR */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  /*  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.03);  */
  font-weight: 300;
}

.navbar-dark {
  background: linear-gradient(
    to right,
    rgba(0, 45, 165, 0.97),
    rgba(10, 88, 157, 0.97),
    rgba(10, 88, 157, 0.97),
    rgba(0, 45, 165, 0.97)
  );
}

.navbar-brand {
  margin-right: 20px;
}

.nav-item {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 80%;
  padding: 0 0.4rem;
}

.navbar .navbar-nav .nav-link {
  transition: all 0.05s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 1px solid white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: 1px solid white;
}

.navbar-toggler:hover {
  cursor: pointer;
}

#search-bar {
  background-color: #5c87af;
  color: white;
  font-size: 14px;
  width: 200px;
  height: 30px;
  transition: all 0.2s;
  border: none;
}

#search-bar:hover {
  background-color: #779ec1;
}

#search-bar:focus {
  background-color: white;
  color: #212529;
  width: 400px;
}

#search-bar::-webkit-input-placeholder {
  color: white !important;
}

#search-bar:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
}

#search-bar::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
}

#search-bar:-ms-input-placeholder {
  color: white !important;
}

/* -----search-container styles----- */

.search-container {
  --searchbox-height: 30px;
  margin: 0 auto 0 auto;
  min-width: 290px;
  width: var(--content-width);
}

/* -----searchbar styles----- */

.searchbar {
  background: whitesmoke;
  cursor: text;
  margin: 0 auto;
  max-width: 450px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  height: var(--searchbox-height);
  position: relative;
}

/* -----search-input styles----- */

.search-input {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: calc(100% - 80px);
  border-color: transparent;
  color: rgb(117, 117, 117);
  font-size: 16px;
  line-height: 44px;
  margin: auto 0;
  overflow: hidden;
  text-align: initial;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.search-input:focus {
  outline: transparent;
}

.search-input:focus::placeholder {
  color: transparent;
}

/* -----search-icon styles---- */

.search-icon-wrapper {
  padding: 0 24px;
  /* margin-right: 48px; */
}

.search-icon {
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 20px;
  background-color: rgb(117, 117, 117);
  bottom: 0;
  left: 16px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 24px;
}

.show-when-mobile {
  visibility: hidden;
  display: none;
}

a#navbarDropdownMenuLink.nav-link.dropdown-toggle {
  color: blue;
}

#cash {
  color: blue;
}

@media screen and (max-width: 769px) {
  .limit-mobile {
    max-width: 75%;
  }

  .hide-when-mobile {
    visibility: hidden;
    display: none;
  }

  .show-when-mobile {
    visibility: visible;
  }
  #cash {
    color: blue;
  }
}

/* ==================================================================== NAVBAR TOP */

.justify-content-center {
  margin-left: 30px;
  margin-right: 30px;
}

/* Navigation Bar - Search Bar */

.active-pink .fa,
.active-pink-2 .fa {
  color: grey;
}

/* Font-Navbar */
.font-navbar {
  font-size: 15px;
}

/* Money Icon Navbar */
.money {
  color: #808080;
}

/* Dropdown Menu */
.dropdown-menu > li {
  margin-left: 10px;
}

/* The switch - the box around the slider */
.dark-mode {
  background-color: black;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-top: 7px;
}


.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'🌙';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-0%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
 margin-left: 5px;
}

input:checked + .slider:after
{  
  content:'🌝';
  transform: translate(-200%,-50%);
  top: 50%;
  left: 50%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
  color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}




/* ============================================================================ Navbar 2nd */

.color-text {
  color: blue;
}

.nav-item > a {
  color: blue;
}

@media only screen and (max-width: 600px) {
  .navbar-toggler {
    background-color: grey;
  }
}

/* =============================================================================== Advertistemen Sample */
/* default height */
.center {
  width: 45%;
  margin: auto;
}
#ad {
  margin-top: 10px;
  height: 90px;
}

/* ================================================================================= Stories Scroll */
.list {
  display: flex;
  overflow-x: scroll;
  padding: 20px;

  /* prevent accidentally going back or triggering other swipe events */
  overscroll-behavior: contain;

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* momentum scroll on iOS */
  -webkit-overflow-scrolling: touch;

  /* disbable vertical scroll for touch */
  touch-action: pan-x;

  /* scroll snapping */
  scroll-snap-type: x mandatory;

  /* stop scrolling before reaching edge */
  scroll-padding-left: 20px;
  scroll-padding-inline-start: 20px;
}

/* hide scroll bar */
.list::-webkit-scrollbar {
  display: none;
}

.item {
  height: 224px;
  width: 125px;
  flex-shrink: 0;
  /* scroll snapping */
  scroll-snap-align: start;

  /* maybe this will work in the future 🤷‍♂️ */
  scroll-snap-stop: always;
}

.item:last-child {
  position: relative;
}

.item:last-child::after {
  position: absolute;
  left: 100%;
  height: 1px;
  width: 20px;
  display: block;
  content: "";
}

/* 
    The styling below is only for the decoration of this demo, 
    it has no impact on scrolling or scroll behavior
  */
.list {
  list-style: none;
  /* border: 1px solid grey; */
  /* background-color: #181818; */
  padding: 20px;
  border-radius: 12px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  font-size: 32px;
  width: 200px;
  /* text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 1); */
}

/*   
  .item:nth-child(4n + 1) {
    background-color: red;
  }
  .item:nth-child(4n + 2) {
    background-color: yellow;
  }
  .item:nth-child(4n + 3) {
    background-color: green;
  }
  .item:nth-child(4n + 4) {
    background-color: blue;
  } */
.item:not(:last-child) {
  margin-right: 10px;
}

.viewport {
  width: 600px;
  overflow-x: hidden;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

/* Side Stories */
.headline-stories {
  color: blue;
  font-weight: 600;
  font-size: 17px;
}

.side-stories {
  /* margin: 10px; */
}

.side-stories-image {
  width: 50px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px;
}

.side-stories-image:hover {
  border: 3px solid blue;
  background: whitesmoke;
}

.row {
  position: relative;
}

.size {
  width: 130px;
  height: 130px;
}

.title {
  font-size: 12px;
  color: grey;
  font-weight: bold;
}

div .sub-title {
  font-size: 13px;
  color: black;
  font-weight: bold;
}

.rounded-circle:hover {
  border: 5px solid greenyellow;
  transition: 0.1s ease-out;
}

#panLeft {
  left: 0px;
  background: #ff1493;
  color: whitesmoke;
}
#panRight {
  right: 0px;
  background: #ff1493;
  color: whitesmoke;
}
.panner {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  top: 15%;
}

.opacity-play {
  position: absolute;
  width: 130px;
  height: 130px;
  opacity: 0.5;
  background-color: black;
}

@media screen and (max-width: 769px) {
  .margin-left-mobile {
    margin-left: -20px;
  }

  .headline-stories {
    font-size: 40px;
    text-align: inherit;
  }
  .col-10 {
    /* max-width: 75%; */
    /* margin-left: 1px; */
  }

  .panner {
    display: none;
    visibility: hidden;
  }
  .pannerVideo {
    display: none;
    visibility: hidden;
  }

  .bigger-mobile {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
}

/* ================================================================================== Video Slide */

.headline-related-video {
  color: #696969;
  font-weight: 400;
  font-size: 12px;
}

#panLeftVideo {
  left: 0px;
  background: #ff1493;
  color: whitesmoke;
}

#panRightVideo {
  right: 0px;
  background: #ff1493;
  color: whitesmoke;
}

.pannerVideo {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  top: 30%;
}

#watch-all-text {
  color: #ff1493;
}

/* ==================================================================================== Money Section */

.money-section {
  background-color: greenyellow;
}

.nominal-money {
  color: blue;
  font-size: 1.5em;
}

.title-money {
  color: grey;
  font-size: 10px;
}

.subtitle-money {
  color: black;
  font-size: 13px;
}

.border1 {
  background: #ff1493;
  color: whitesmoke;
  border-bottom: double;
  border-right: double;
  padding: 7px;
  width: 40px;
  height: 40px;
  text-align: center;
}


@media screen and (max-width: 769px) {

  .mobile-list {
    display: list-item;
    list-style-type: none;
    margin: auto;
    width: 50%;
  }
  .fas {
    display: none;
  }

  .hide-mobile-money {
    font-size: 45px;
  }

  .border1 {
    width: 100%;
  }
 
}

/* ================================================================================== Editor Spots */

div.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  /* background-color: white; */
  color: grey;
}


@media screen and (max-width: 769px) {
  div.scrollmenu {
    width: 100%;
  }
 
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f1f1f1;
  color: black;
}

.chip:hover {
  color: #000;
}

.changeBackground {
  background-color: #ff1493;
  color: white;
}

.border2 {
  background: whitesmoke;
  color: #ff1493;
  border-bottom: double;
  border-right: double;
  padding: 7px;
  /* width: auto; */
  height: 40px;
  text-align: center;
}

.headline-editor {
  width: 350px;
  height: 200px;
}

.subtitle-headline {
  color: #ff1493;
  font-size: 12px;
  font-weight: lighter;
}

.time-headline {
  color: grey;
}

.headline-title {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  color: black;
}

.container-headline {
  max-width: 300px;
  position: relative;
}

/* Grid Image */
.grid-container {
  max-width: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  /* border: 1px solid black; */
  /* background-color: whitesmoke; */
  /* padding: 10px; */
}

.grid-container > div {
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /* padding: 10px 0; */
  font-size: 30px;
}

.headline-editor-image-grid {
  width: 150px;
  height: 100px;
}

.fa-arrow-down {
  margin-top: 3px;
}

.border3 {
  background: whitesmoke;
  color: #ff1493;
  border-bottom: double;
  border-right: double;
  padding: 7px;
}






@media screen and (max-width: 769px) {
  .headline-stories {
    margin-left: 20px;
    font-size: 28px;
  }

  .scrollmenu {
    margin-left: 20px;
  }

  .hidden-headline-mobile {
    visibility: hidden;
    display: none;
  }

  .grid-container {
    display: list-item;
  }

  .center-width {
    justify-content: center;
    margin-left: 15px;
    position: relative;
    width: 120%;
  }

  .headline-editor-image-grid {
    margin-right: 10px;
    float: left;
  }
}


/* ============================================================================== Get Award  */

.title-award {
  color: blue;
  font-size: 1.5em;
}

.paragraph-award {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 12px;
  width: 400px;
}

.container-get-award {
  width: 100%;
  /* margin: auto; */
}

.background-banner {
  background-color: grey;
}

@media screen and (max-width: 769px) {
  .center-text {
    text-align: center;
    justify-content: center;
  }
  
}

/* ============================================================================== Instagram Layout */

.container-layout {
  width: 50rem;
  margin: 0 auto;
  padding: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* margin: -1rem -1rem; */
  padding-bottom: 1rem;
}

.gallery-item {
  position: relative;
  flex: 0.2 0 0.2rem;
  margin: 1rem;
  /* color: #fff; */
  cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
  display: none;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
}

.gallery-item-likes {
  margin-right: 1rem;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 2em;
  font-size: 1.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media Query */

/* Spinner Animation */

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
  }

  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
}
@media (max-width: 40rem) {
  .container-layout {
    width: 50%;
  }
}


@media screen and (max-width: 769px) {
  .profile-instagram-text {
    font-size: 10px;
    
  }
}

/* =============================================================================== Image Instagram */

.container-image-instagram {
  width: 50%;
  margin: auto;
}

.profile-instagram {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid blue;
  border-radius: 50%;
}

.border4 {
  background: whitesmoke;
  color: #ff1493;
  border-bottom: double;
  border-right: double;
  padding: 7px;
  /* width: auto; */
  height: 40px;
  /* text-align: center; */
}

/* ============================================================================ Banner Keep In Touch */

.title-banner2 {
  color: white;
  font-size: 1.5em;
}

.subtitle-banner {
  color: white;
  font-size: 12px;
}

.background-banner2 {
  background-color: blue;
}

.input-form {
  background-color: blue;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  width: auto;
}

.input-form::placeholder {
  color: white;
  font-size: 12px;
}

.dropdown-message {
  font-size: 12px;
}

.custom-text {
  height: 70px;
  background-color: blue;
}

.border5 {
  background: yellowgreen;
  color: black;
  border-bottom: double;
  border-right: double;
  padding: 10px;
  
  height: 50px;
  text-align: center;

  /* margin-left: 5px; */
}


@media screen and (max-width: 769px) {
  .gallery .gallery-item:nth-child(n+3) {
    display:none;
  }
  
  #loader_div {
    cursor: pointer;
  }
}



/* Media Query Get In Touch */

@media screen and (max-width: 769px) {
  .mobile-list-get-in-touch {
    display: list-item;
    justify-content: center;
    list-style-type: none;
  }
  .title-banner2 {
    text-align: center;
  }


 

}




/* =============================================================================== Footer */

.footer-item {
  font-size: 12px;
}

.background-footer {
  background: #003366;
  padding: 5%;
  color: white;
}

.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}

.background-join {
  background: #ff1493;
  color: white;
}

.red-border::placeholder {
  color: grey;
  font-size: 12px;
}

.fa {
  padding: 15px;
  font-size: 15px;
  width: 45px;

  text-align: center;
  /* text-decoration: none;  */
  margin: 5px;
  border-radius: 50%;
}

.fab {
  padding: 15px;
  font-size: 15px;
  width: 45px;

  text-align: center;
  /* text-decoration: none;  */
  margin: 5px;
  border-radius: 50%;
}

.sosmed-icon:hover {
  opacity: 0.7;
  background-color: yellowgreen;
  color: navy;
}

.sosmed-icon:hover {
  opacity: 0.7;
  background-color: yellowgreen;
  color: navy;
}

.fa-facebook {
  background: #000034;
  color: grey;
}

.fa-instagram {
  background: #000034;
  color: grey;
}

.fa-tiktok {
  background: #000034;
  color: grey;
}


  @media screen and (max-width: 769px) {
    footer {
      height: 600px;
    }
   
    .grid-to-list {
      display: list-item;
      position: relative;
      margin: auto;
    }

    .logo {
      width: 50%;
      margin: auto;
      position: relative;
    }
    .sosial-media {
      text-align: center;
    }

    .relative-display-mobile {
      position: absolute;
      top: 300px;
      display: flex;
    }

    .absolute-position-mobile {
      position: absolute;
      bottom: -250px;
      display: flex;
    }

    .margin-top-mobile-otherS {
      margin-top: 100px;
    }

  
  

  }
  

